.home-container {
  padding: 20px;
  font-size: 20px;
  text-align: left;
}

.home-container h2 {
  color: #000000;
  font-weight: 700;
  font-size: 48px;
}

.home-container h3 {
  color: #7e7e7e;
  font-size: 24px;
  font-weight: 700;
}

.home-content-container {
  padding: 10px;
}
